h1 {
    color: #094e12;
    font-size: 42px;
    text-shadow: .05em .05em .1em lightslategray;
    font-family: "Comic Sans", cursive;
    text-align: center;
}
p {
    color: #4f7051;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
h3 {
    color: black;
    font-size: 24px;
    font-family: Lucida, serif;
    text-decoration: underline;
}
li {
    color: #305f33;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
strong {
    color: black;
    font-size: 16px;
}
.employer {
    color: black;
    font-size: 16px;
}
.university {
    color: black;
    font-size: 16px;
}
.nav-menu {
    list-style-type: none; /* Removes bullet points */
    display: flex; /* Makes the list horizontal */
    gap: 20px; /* Space between items */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}
.nav-menu li a {
    text-decoration: none; /* Removes underline */
    color: black; /* Link color */
    font-weight: bold;
}
.nav-menu li a:hover {
    color: #094e12; /* Hover effect */
}
footer {
    font-weight: bold;
}
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url('desk2.jpg') no-repeat center / cover;
    color: white;
}
.container {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .info h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: .05em .1em .1em black;
}
.container .info h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: .05em .05em .1em black;
}
.container .info p {
    font-size: 1rem;
    color: white;
    max-width: 60%;
    text-shadow: .1em .05em .1em black;
}
.container .info blockquote {
    font-size: 1rem;
    max-width: 50%;
    text-shadow: .05em .05em .1em black;
}
.container .info a:hover {
    color: white;
}
.resume-link {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 100px;
    background:#4f7051;
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
    text-shadow: .05em .05em .1em black;
    color: white;
    border-radius: 20px;
}